@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Montserrat|Roboto:400,700&display=swap');
body {
  background-color:pink;
  color: white;
  font-family: "Roboto", sans-serif;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 1px solid black;
  background-color: pink;
  padding: 30px 0;
  width: 300px;
  margin: 0 auto;
}
  h2 {
    text-align: center;
    font: 'Montserrat', sans-serif;
    font-size: 15px
  }
  img {
    display: block;
    margin: 40px auto;
    height: 350px
  }
a {
  display: block;

}
p {
  text-align:left;

}
